#Total-production{
    font-size: medium;
    color: red;
}
h1{
    color: red;
}
#title{
    font-size: large;
    color: rgba(25, 15, 160, 0.133)
}
button{
    color:blueviolet
}
body{
    display: flexbox;
    flex-direction: column;
    justify-content: center;
}